<h1>Password Generator Home page</h1>

<form action="{% url 'password' %}">
    <select name="length">
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10" selected='selected'>10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        
    <input type="checkbox" name="upper"> Upper Case<br>
    <input type="checkbox" name="numbers"> Numbers<br>
    <input type="checkbox" name="special"> Special Character<br>

    </select>
<br>

    <input type="submit" value="Generate Password">
</form>
